@page "/"
@using System.Security.Principal

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<PageTitle>Index</PageTitle>

<style>
	p {text-indent: 25px;}
</style>

<h1>Добро пожаловать!</h1>

<br/>

<p>
	<h2>	
		Перед вами простой и удобный инструмент для выбора контрагента 								
		при проведении тендерных процедур. <br />

		Основой выбора является экономический расчет стоимости закупки
			с учетом дополнительных условий и критериев надежности поставщика.
	</h2>
</p>

@code
{


	protected override async Task OnInitializedAsync()
	{
		try
		{
			var token = await LocalStorage.GetItemAsync<string>("AccessToken");

			if (token == null)
			{
				NavigationManager.NavigateTo("/login");
			}
		}
		catch (Exception ex)
		{
			NavigationManager.NavigateTo("/error");
		}

	}
}
