@page "/"
@using System.Security.Principal

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<PageTitle>Index</PageTitle>

<h1>Добро пожаловать!</h1>

@code
{


	protected override async Task OnInitializedAsync()
	{
		try
		{
			var token = await LocalStorage.GetItemAsync<string>("AccessToken");

			if (token == null)
			{
				NavigationManager.NavigateTo("/login");
			}
		}
		catch (Exception ex)
		{
			NavigationManager.NavigateTo("/error");
		}

	}
}
