@page "/custom_fees"
@using Comm2TenderBlazor.Models.Dto

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTitle>Таможенные пошлины</PageTitle>

<h1>Таможенные пошлины</h1>


@if (customFees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* <div class="mb-3">
        <input class="form-control mb-3" type="text" @bind="searchText" placeholder="Enter search query" />
        <button class="btn btn-primary" @onclick="Search">Поиск</button>
    </div> *@

    <button class="btn btn-primary" @onclick="Add">Добавить</button>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Минимальный порог</th>
                <th>Пошлина</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customFee in customFees)
            {
                <tr>
                    <td>@customFee.CustomFeeDictionaryId</td>
                    <td>@customFee.MinAmount</td>
                    <td>@customFee.SummaryCustomFee</td>
                    <td>
                        <button class="btn btn-secondary" @onclick="() => Update(customFee)">Редактировать</button>
                        <button class="btn btn-danger" @onclick="() => Delete(customFee.CustomFeeDictionaryId)">Удалить</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //[CascadingParameter] public IModalService Modal { get; set; }

    private List<CustomFeeDictionary> customFees;
    private string searchText;

    protected override async Task OnInitializedAsync()
    {
	    var token = await LocalStorage.GetItemAsync<string>("AccessToken");

	    if (token == null)
	    {
		    NavigationManager.NavigateTo("/login");
		    return;
	    }

        try
        {
            customFees = await ApiRequests.PostAllListAsync<CustomFeeDictionary>("api/customFeeDictionary/Search", HttpClient, token);

        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo("/error");
        }

    }

    private async Task Search()
    {
        var token = await LocalStorage.GetItemAsync<string>("AccessToken");

        if (token == null)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        customFees = await ApiRequests.SearchAsync<CustomFeeDictionary>(searchText, "api/customFeeDictionary/Search", HttpClient, token);
    }

    private async Task Add()
    {
	    var token = await LocalStorage.GetItemAsync<string>("AccessToken");

	    if (token == null)
	    {
		    NavigationManager.NavigateTo("/login");
		    return;
	    }

        NavigationManager.NavigateTo("/custom_fee/0");
    }

    private async Task Update(CustomFeeDictionary model)
    {
	    var token = await LocalStorage.GetItemAsync<string>("AccessToken");

	    if (token == null)
	    {
		    NavigationManager.NavigateTo("/login");
		    return;
	    }

        NavigationManager.NavigateTo($"/custom_fee/{model.CustomFeeDictionaryId}");
    }

    private async Task Delete(int id)
    {
	    var token = await LocalStorage.GetItemAsync<string>("AccessToken");

	    if (token == null)
	    {
		    NavigationManager.NavigateTo("/login");
		    return;
	    }

	    await ApiRequests.DeleteItemAsync($"api/customFeeDictionary/delete_fee/{id}", HttpClient, token);

        customFees = await ApiRequests.PostAllListAsync<CustomFeeDictionary>("api/customFeeDictionary/Search", HttpClient, token);
    }
}    